:root {
    font-size: 16px;
}

$mbg-color: #ffedc6;
$white-color: white;
$black-color: black;
$wbb-color: #724330;
$sbg-color: #ffc478;
$text-color: #fff87d;
$bar-color: hsl(0 0% 0% / 0.70);
$shadow-color: (15px 5px 5px black);

html {
    scroll-behavior: smooth;
}

body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    color: $black-color;
    background-color: $mbg-color;
    //overflow-x: hidden;
}

.title_bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $wbb-color;
    color: $white-color;
    width: 100%;
    position: fixed;
    z-index: 400;
    font-size: 1.125rem;
}
.title_name {
    padding: 1.5em;
}

.intro_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 3.5rem;
}

.title_entry {
    text-align: center;
    padding: 7rem 2.5rem;
    font-size: 4rem;
}

.my_name {
    display: block;
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 4.8rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $sbg-color;
    width: 100%;
    margin: 5rem 0;
}

.wb_avator {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 53em;
    width: 100%;
    position: relative;
    overflow-x: hidden;
}

.white_board {
    width: min(90em, 80%);
    background-color: $white-color;
    margin: 4rem 0;
    padding: 3rem;
    border-style: solid;
    position: absolute;
    border-width: 1.5em;
    border-color: $wbb-color;
    box-shadow: $shadow-color;
    li {
        font-size: 2.5em;
    }
}

.wb_text {
    font-size: 3em;
}

@mixin avator {
    height: 25em;
    width: 25em;
    bottom: 0;
    z-index: 300;
    position: absolute;
}

.avator_left {
    @include avator;
    margin-right: 95em;
}

.avator_right {
    @include avator;
    margin-left: 98em;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 1.5em;
    background-color: $wbb-color;
    color: $white-color;
}

.start_painting {
    display: flex;
    justify-content: center;
    padding: 5rem;
}

.button_start {
    padding: 1.5rem 2rem;
    font-size: 1.5rem;
    background-color: $wbb-color;
    color: $black-color;
    border-style: solid;
    border-width: .125em;
    border-color: $bar-color;
    border-radius: 1rem;
}
.button_start:hover {
    transform: scale(1.5);
}


@media (max-width: 300px) {
    :root {
        font-size: 4px
    }
    .white_board {
        overflow: auto;
    }
}

@media (max-width: 600px) {
    :root {
        font-size: 8px;
    }
}
@media (max-width: 900px) {

}
